li{
    width: 30%;
    max-width: 300px;
    border: 2px solid #ccc;
    border-radius: 8px;
    padding: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    align-items: center;
}

img{
    width: 100%;
    object-fit: contain;
    aspect-ratio: 3/2;
    border-radius: 8px;
}